{% extends 'adminbase.html' %} 
{% block title %}Search items{% endblock title %} 

{% block body %}
{%load static%}

{% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show"
    role="alert">
        <strong> {{message}} </strong>
      </div>
    {% endfor %}
    {% if allPosts|length < 1%}
<h1>Your Search did not match</h1>
<ul>
<li>Make Sure You have Spelled Correctly....</li>
<li>Maybe we don't have the search item</li>
</ul>
{% endif %}
    <div class="container_r">
    <table class="table table-info table-striped">
        <thead>
            <tr>
                <th scope="col">Product ID</th>
                {% comment %} <th scope="col">Products</th> {% endcomment %}
                <th scope="col">Product Name</th>
                <th scope="col">Category</th>
                <th scope="col">Generic</th>
                <th scope="col">Price</th>
                <th scope="col">Description</th>
                <th scope="col">Image</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for i in allPostN %}
            <tr>
                <th scope="row">{{i.product_id}}</th>
                <td>{{i.product_name}}</td>
                <td>{{i.category}}</td>
                <td>{{i.generic}}</td>
                <td>{{i.price}} Tk</td>
                <td>{{i.desc}}</td>
                <td><img src='/media/{{i.image}}' class="card-img-top" alt="not found" height="120px" width="120px"/></td>
                <td>
                <h2><a href="editprod/{{i.product_id}}" ><ion-icon name="pencil-outline"></ion-icon></a></h2>
                </td>
                <td>
                <h2><a href="deleteprod/{{i.product_id}}" ><ion-icon name="trash-outline"></ion-icon></a></h2>
                </td> 
            </tr>
            {% endfor %}
            {% for i in allPostG %}
            <tr>
                <th scope="row">{{i.product_id}}</th>
                <td>{{i.product_name}}</td>
                <td>{{i.category}}</td>
                <td>{{i.generic}}</td>
                <td>{{i.price}} Tk</td>
                <td>{{i.desc}}</td>
                <td><img src='/media/{{i.image}}' class="card-img-top" alt="not found" height="120px" width="120px"/></td>
                <td>
                <h2><a href="editprod/{{i.product_id}}" ><ion-icon name="pencil-outline"></ion-icon></a></h2>
                </td>
                <td>
                <h2><a href="deleteprod/{{i.product_id}}" ><ion-icon name="trash-outline"></ion-icon></a></h2>
                </td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>    

{% endblock body %} 